#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#article-img {
  width: 400px;
}

#container {
  margin-right: 15px;
  margin-bottom: 15px;
  position: relative;
  text-align: center;
  color: white;
}

#title {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: azure;
}

.articles {
  display: grid;
  grid-template-columns: auto auto;
}

#body {
  display: grid;
  margin-top: 100px;
  border-style: groove;
  border-color: rgb(96, 96, 96);
  padding: 70px;
}

#comment-section {
  border-style: groove;
  border-color: rgb(96, 96, 96);
}

.no-bullet {
  list-style-type: none;
  text-align: left;
}

#comment-votes {
  margin-right: 50px;
  display: flex;
  justify-content: end;

}

#upvote, #downvote {
  height: 30px;
  width: 30px;
  border-radius: 8px;
  border: 0;
  padding: 2px;
}

#post-comment {
  text-align: left;
}

#post-comment-label {
  display: block;
}

.header-button {
  padding: 10px;
  margin-right: 10px;
  border-radius: 8px;
  background-color: rgba(0, 123, 255, 0.184);
}

